
/*
#login input {color: #fff !important;}
#register input {color: #fff !important;}
#sendResetPasswordMail input {color: #fff !important;}
#resetPassword input {color: #fff !important;}
*/
header {width:100%; padding:15px 20px; position:fixed; top:0; left:0; background-color:#fff; box-shadow:0px 3px 6px rgba(0,0,0,0.16); z-index:2;}
header .button--icon {display:none; margin-right:32px;}

.scroll--smooth {scroll-behavior: smooth; -webkit-overflow-scrolling: touch;}

.header__btn {margin-right:16px; position:relative; top:-3px;}
.header__title {display:inline-block; max-width:180px; min-height:27px; position:relative; top:1px; font-size:18px; font-weight:600; color:#fff; white-space: nowrap; text-overflow:ellipsis; overflow:hidden;}
.header__right {float:right; position:relative; top:4px;}
.header__right__btn {margin-left:20px;}
.header__right__btn:first-child {margin-left:0;}

.navs {display:flex; align-items: center; justify-content: center;  width:100%; position:fixed; bottom:0; left:0; background-color:#fff; box-shadow:0px -1px 1px rgba(0,0,0,0.16); z-index:2;}
.nav {padding-top:5px; padding-bottom:5px; flex:1; text-align:center;}
.nav img {display:block; margin:0 auto;}
.nav .icon--active {display:none;}
.nav--title {display:none; margin-top:-7px; font-size:10px; font-weight:500; color:#bbb;}
.nav.active .nav--title {color:#FF9711;}
.nav.active .icon--active {display:block; margin:0 auto;}
.nav.active .icon--inactive {display:none;}

.contents {min-height:500px; padding:75px 20px 140px 20px; scroll-behavior: smooth; -webkit-overflow-scrolling: touch;}
.contents:after {content:""; width:100%; height:100%; position:fixed; top:0; left:0; background:url("/img/base.jpg") no-repeat; background-size:cover; z-index:-1;}

.sidebar {height:100%; position:fixed; top:0; left:0px; background-color:#fff; transition: box-shadow .3s , left .3s cubic-bezier(0.120, 0.870, 0.295, 0.930); z-index:20; border-right:1px solid #e1e1e1;}
.sidebar.active {position:fixed; left:-300px; box-shadow:0px 3px 6px rgba(0,0,0,0.16);}
.sidebar__logo {padding:26px 48px 22px 48px; text-align:center;}
.sidebar__logo img {display:inline-block;}
.sidebar__middle {padding:24px; border-bottom:1px solid #E1E1E1;}
.sidebar__navigations {padding:24px;}
.sidebar__navigations__navigation {display:block; margin-bottom:16px; font-weight:500; opacity:0.5; transition: opacity .3s;}
.sidebar__navigations__navigation:last-child {margin-bottom:0;}
.sidebar__navigations__navigation:hover {opacity:1;}
.sidebar__navigations__navigation.active {opacity:1;}
.sidebar__navigations__navigation img {margin-right:16px; position:relative; top:4px;}

.groups {}
.groups__title {margin:24px 0; color:#fff; text-align:center;}
.groups__title .point {font-size:20px; font-weight:500; color:#fff;}
.group {display:block; margin-bottom:8px; padding:10px 16px; padding-left:56px; position:relative; background-color:#fff; box-shadow:0px 3px 6px rgba(0,0,0,0.16); border-radius:5px;}
.group .img {position:absolute; left:16px; top:50%; transform:translateY(-50%);}
.group__texts {padding-right:40px;}
.group__title {font-weight:500;}
.group__date {font-size:12px; color:#999;}
.group__btn {display:flex; align-items:center; padding:5px; position:absolute; top:50%; right:16px; transform:translateY(-50%);}
.group__btn img {}
.group__menus {position:absolute; right:15px; top:45px; background-color:#fff; box-shadow:0px 3px 6px rgba(0,0,0,0.4); border-radius:3px; z-index:1;}
.group__menu {display:block; width:100%; padding:10px; font-size:14px; font-weight:500; color:#999; text-align:left;}


#group {}
#group .infos.type01 {margin-bottom:16px;}
#group .members {padding:24px; background-color:rgba(0,0,0,0.4); border-radius:5px; box-shadow:0px 3px 6px rgba(0,0,0,0.16);}

.member {display:flex; align-items: center; margin-bottom:16px;}
.member:last-of-type {margin-bottom:0;}
.member--img {flex-basis:36px; padding-top:36px; border-radius:100%;}
.member--title {flex:0.7; padding-left:16px; color:#fff;}
.member--buttons {flex:1; text-align:right;}
.member--button {margin-left:16px; font-size:12px; color:rgba(255,255,255,0.7);}
.member--button:first-child {margin-left:0;}

.infos.type01 {padding:24px; background-color:#fff; box-shadow:0px 3px 6px rgba(0,0,0,0.16); border-radius:5px;}

.box.type01 {padding:24px 16px; background-color:#fff;}
.box.type01 .input--wrap:last-of-type .input--title {margin-top:0;}
.box.type01 .input--title {margin-top:24px;}
.box.type01 .input--wrap:last-of-type {margin-bottom:0;}

.create--store--thumbnail {width:100%; height:212px; position:relative; background:url("/img/replace--store.jpg") no-repeat center; background-size:cover; border-radius:5px; overflow:hidden; border:1px solid rgba(0,0,0,0.1);}
.create--store--thumbnail.active {background:none;}
.create--store--thumbnail .input-file-name {display:none;}
.create--store--thumbnail input {display:none;}
.create--store--thumbnail label {width:100%; height:100%; position:absolute; top:0; left:0; color:transparent; z-index:1;}
.create--store--thumbnail .input-file-img {width:auto; margin:0; padding:0; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); border:none; border-radius:5px;}
.create--store--thumbnail .ratioBox-wrap {position:absolute; top:0; left:0;}

.create--menu {position:relative;}
.create--menu .input--wrap:nth-of-type(2) {padding-left:102px;}
.create--menu .input--wrap:nth-of-type(3) {padding-left:102px;}
.create--menu--thumbnail {width:94px; height:94px; position:absolute; left:0; top:0; background:url("/img/replace--store.jpg") no-repeat center; background-size:cover; border-radius:5px; overflow:hidden; border:1px solid rgba(0,0,0,0.1);}
.create--menu--thumbnail.active {background:none;}
.create--menu--thumbnail input {display:none;}
.create--menu--thumbnail label {width:100%; height:100%; position:absolute; top:0; left:0; color:transparent; z-index:1;}
.create--menu--thumbnail .input-file-img {width:auto; margin:0; padding:0; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); border:none; border-radius:5px;}
.create--menu--thumbnail .ratioBox-wrap {position:absolute; top:0; left:0;}

.stores .box.type01 {display:flex; flex-wrap:wrap; justify-content: space-between; align-items:center; padding-bottom:0;}
.store {margin-bottom:20px; flex-basis: 48%;}
.store .ratioBox-wrap {border-radius:5px;}
.store__title {margin-top:5px; font-weight:500;}

.widthLong .ratioBox img {width:auto !important; height:100% !important;}
.heightLong .ratioBox img {width:100% !important; height:auto !important;}

.addresses {max-height:200px; overflow-y:auto; border-top:1px solid #e1e1e1; border-bottom:1px solid #e1e1e1;}
.addresses__empty {padding:16px; text-align:center; font-size:14px; color:#999;}
.address {padding:16px; border-bottom:1px solid #e1e1e1;}
.address__address {font-size:14px; color:#999;}
.address__address:last-child {border-bottom:none;}

#store .ratioBox-wrap {border-radius:5px;}
#store .tabs {margin:0 -20px;}
#store .infos--wrap {position:relative;}
#store .infos {margin:16px 0; padding:0; box-shadow:none;}
#store #map {margin-bottom:16px; z-index:0;}
#store .info.type01 {margin-bottom:8px;}
#store .store__buttons--wrap {padding:0 16px;}
#store .store__buttons {display:flex; justify-content:space-around; align-items:center; margin-top:-24px; position:relative; z-index:1; border-radius:5px; box-shadow:0px 3px 6px rgba(0,0,0,0.16); background-color:#fff;}
#store .store__button {display:flex; align-items:center; padding:8px 4px; font-size:14px; font-weight:500;}
#store .store__button img {width:16px; margin-right:4px;}
#store .store__top {position:relative;}
#store .store__top__texts {min-width:200px; max-width:220px; padding:8px 16px; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); background-color:rgba(0,0,0,0.45); text-align:center;}
#store .store__ranks img {display:inline-block; margin:0 2px;}
#store .store__top__texts .store__title {margin-bottom:8px; font-size:20px; font-weight:bold; color:#fff;}

.menus {}
.menu {padding:16px 18px; padding-left: 89px; position:relative; border-bottom:1px solid #e1e1e1;}
.menu .ratioBox-wrap {width:55px; padding-top:55px; position:absolute; top:50%; left:18px; transform:translateY(-50%); border-radius:5px;}
.menu__texts {position:relative; top:-2px;}
.menu__title { font-weight:500; }
.menu__price { font-size:14px; }

.vote__contact__btn {float:left; position:relative; z-index:1;}
.vote__contact__btn .icon {margin-right:4px; position:relative; top:1px;}
.vote__count__btn {position:relative; z-index:1;}
.vote__top {margin-bottom:8px; text-align:right;}
.vote__top .icon--person {margin-right:4px; position:relative; top:2px;}
.vote__top .icon--arrow {margin-left:8px; position:relative; top:3px;}
.vote__top span {font-size:12px;}

#vote .input--radio {margin-top:-22px; position:relative;}
#vote .input--radio input { width: 0; height: 0; cursor: pointer;}
#vote .input--radio input:after {content:attr(data-count); position:absolute; top:36px; right:16px; font-size:12px; z-index:1;
    transition: color .3s cubic-bezier(.13,.77,.35,1);
}
#vote .input--radio input:before {content:""; width:10px; height:10px; position:absolute; top:40px; right:30px; background:url("/img/user--thin--black.png") no-repeat; z-index:1;}
#vote .input--radio label {display:block; width:100%; padding:8px 16px; margin-left:0; position:relative; color:#555; background-color:#eee; border:1px solid #ccc; border-radius:5px; cursor:pointer;
    transition: color .3s cubic-bezier(.13,.77,.35,1), background-color .3s cubic-bezier(.13,.77,.35,1), box-shadow .3s cubic-bezier(.13,.77,.35,1);
}
#vote .input--radio input:checked + label {padding-right:48px; color:#fff; background-color:#ff9711; box-shadow:0px 3px 6px rgba(0,0,0,0.16);}
#vote .input--radio input:checked:after {color:#fff;}
#vote .input--radio input:checked:before {background:url("/img/user--thin--white.png") no-repeat;}

#vote .vote__button {padding:8px 16px; position:fixed; right:20px; bottom:80px; color:#fff; border-radius:5px; box-shadow:4px 8px 6px rgba(0,0,0,0.16);}
#statistics--vote .tabs__contents {padding-top:16px;}
#statistics--vote .member--texts {flex:1; padding-left:16px;}
#statistics--vote .member--title {padding-left:0; color:#333;}
#statistics--vote .member--body {font-size:12px; color:#999;}

.vote {display:block; margin-bottom:8px; padding:10px 16px; padding-left:56px; position:relative; background-color:#fff; box-shadow:0px 3px 6px rgba(0,0,0,0.16); border-radius:5px;}
.vote .img {position:absolute; left:16px; top:50%; transform:translateY(-50%);}
.vote__texts {padding-right:40px;}
.vote__title {font-weight:500;}
.vote__date {font-size:12px; color:#999;}
.vote__btn {display:flex; align-items:center; padding:5px; position:absolute; top:50%; right:16px; transform:translateY(-50%);}
.vote__btn img {}
.vote__menus {position:absolute; right:15px; top:45px; background-color:#fff; box-shadow:0px 3px 6px rgba(0,0,0,0.4); border-radius:3px; z-index:1;}
.vote__menu {display:block; width:100%; padding:10px; font-size:14px; font-weight:500; color:#999; text-align:left;}
